body{
    font-family: 'Quicksand', sans-serif ;
   max-width: 100%;
   font-size: 15px;
}

section{
    
    height: 550px;
    margin-top: 20px;
   
}

div.division-f{
    
    height: 500px;
    width: 38%;
    float: left;
}
.bg-first{
    background-image: url(images/header-bg.png);
    background-size: 100%;
    height:500px;
    width: 100%;
    overflow: hidden;
}
.bg-biography{
    background-image: url(images/biography-bg.png);
    background-size: 100%;
}
.half-width-img{
    max-height:500px ;
    
}
.latest-work{
    width: 100%;
    background-image: url(images/latest-work-bg.png);
    background-size: 100%;

}
.division-three{
    width: 33%;
    height: 100%;
   
    float: left;
    
}
.img-pro{
height: 320px; 
margin-top: 80px;   

margin-right: 15%;
}
.alignment{
    text-align: center;
}
.naracara{
   
    margin-left: 10%;
    padding-left: 5%;
    
}
.highlight{
    color: rgb(228, 63, 91);
    font-size: 40px;
}
h1{
    font-size: 40px;
    
}
.fb-link{
    text-decoration: none;
    color: white;
    background-color: rgb(34, 124, 220);
    border-radius: 8px;
    padding: 10px 20px;
    font-weight: 800;
}
 .github-link{
    text-decoration: none;
    color: white;
    background-color: rgb(0, 0, 0);
    border-radius: 8px;
    padding: 10px 20px;
    font-weight: 800;
    margin-top: 5px;
 }
 .msg{
    text-decoration: none;
    color: white;
    background-color: rgb(255, 64, 64);
    border-radius: 8px;
    padding: 10px 20px;
    font-weight: 800;
    width: 150px center !important;
   
}
#low-height{
    height: 400px;
}
